/* general styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    background: url(https://www.wallpaperflare.com/static/235/362/342/subnautica-screenshot-underwater-4k-wallpaper.jpg);
    background-size: cover;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    background: #19354d4b;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

li {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    color: white;
    display: block;
    font-size: 4.5rem;
}

